<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>youtube in frame</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="main.js"></script>

</head>
<body ng-app="frameYoutube">
	<div ng-controller="videoController">
		<input ng-change="playVideo()" ng-model="youtubeLink">
		<button ng-click="youtubeLink = ''">Clear</button>

		<div class="embed-container">
			<iframe class="video" ng-src="{{youtubeIframe | trustUrl}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
			</iframe>
		</div>
	</div>

</body>
</html>

<link rel="stylesheet" type="text/css" href="style.css">
